<% content_for :room_label, @room.name %>

<div class="bg-gray-600 text-white">
  <div class="container py-10 px-24 mx-auto">
    <h1 class="lg:text-3xl text-lg">blk/<%= @room.name %></h1>
  </div>
</div>

<% content_for :primary_content do %>
  <% @room.posts.each do |room| %>
    <%= render 'posts/post', post: room %>
  <% end %>
<% end %>

<% content_for :secondary_content do %>
    <%= render 'sidebar', room: @room %>
<% end %>

<%= render 'basic_layout' %>

<div class="flex flex-wrap lg:px-24 container m-auto text-center">
  <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6 inline">
      <%== pagy_nav(@pagy) %>
  </div>
</div>
