<% if user_signed_in? %>

  <div class="flex flex-wrap px-2 lg:px-24 mt-2 lg:mt-8 container m-auto uppercase text-xs font-semibold">
      Popular discussions
  </div>



  <div class="container lg:px-24 m-auto p-3 text-grey-darkest">
       <div class="flex flex-wrap -mx-2 mb-8">

        <% if @posts.exists? %>
          <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6">
            <div class="rounded-full float-right">
              <ul class="list-none p-0 pt-2 profile-tabs">
                <li class="inline-block mr-2" data-tab="profile_submissions">
                  <%= link_to "Popular", root_path, class: "link font-medium text-black hover:text-gray-900 py-3 text-sm" %>
                </li>| 
                <li class="inline-block mr-2">
                  <%= link_to "Newest", newest_path, class: "font-medium text-black hover:text-gray-900 py-3 text-sm" %>
                </li>
              </ul>
            </div>
            <% @grouped_posts.each do |day, posts| %>

              <div class="rounded-tl-lg rounded-tr-lg container m-auto clearfix mb-3 ml-2">
                <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6">
                  <h5 class="text-xl font-bold float-left"><%= day == Date.today ? "Today" : day.strftime('%B %d') %> </h5>
                </div>
              </div>
              
              <div class="bg-white shadow rounded-sm">
                <% posts.each do |post| %>
                    <%= render 'posts/post', post: post %>                      
                <% end %>
              </div>

              <% end %>
          </div>
        <% else %>
          <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6">
            <div class="bg-white shadow rounded-sm">
              <div class="p-10 text-center">
                <%= render_svg "icons/empty", styles: "inline fill-current text-gray-400 mb-2" %>
                <p class="mb-4">Wow such empty...</p>
                <%= link_to 'Creat a Post', new_post_path, class: "btn btn-black btn-small"%> or 
                <%= link_to 'Join a Room', rooms_path, class: "btn btn-black btn-small"  %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="w-full md:w-1/3">
            <div class="bg-white shadow rounded-sm">
              <div class="px-8 pt-6 pb-8">
                <% unless user_signed_in? %>
                  <%= image_tag "illustration.svg", class: "max-w-full" %>
                  <h3>Explore</h3>
                  <p class="text-gray-600 text-sm">Find your breaking news, sports, TV fan theories, or never-ending streams of cute animals.</p>
                  <%= link_to "How BLKroom works", about_path, class: "btn btn-small btn-black my-2 block text-center" %>
                <% else %>
                  <h3>Home</h3>
                  <p class="text-gray-600 text-sm">Your personal BLKroom frontpage. Come here to check in with your favorite rooms.</p>
                  <%= link_to 'Create Post', new_post_path, class: "btn btn-small btn-white my-2 block text-center"  %>
                  <%= link_to 'Join a Room', rooms_path, class: "btn btn-small btn-black my-2 block text-center"  %>
                  <br>
                  <h3>Invite a friend to BLKroom!</h3>
                  <p>You have <b><%= @current_user.invitation_limit %></b> invites left.</p>
                  <%= render 'devise/invitations/form', invitation: @invitation %>

                <% end %>
              </div>
            </div>
        </div>
       </div>
  </div>

<% else %>

<div style="position:fixed;top:calc(50% - 250px);right:0;transition:width 300ms ease-out;width:0;" data-qa="side_panel"> <a class="typeform-share button" href="https://form.typeform.com/to/ufm48DLU?typeform-medium=embed-snippet" data-mode="side_panel" style="box-sizing:border-box;position:absolute;top:300px;width:200px;height:48px;padding:0 20px;margin:0;cursor:pointer;background:#181E1F;border-radius:4px 4px 0px 0px;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);display:flex;align-items:center;justify-content:flex-start;transform:rotate(-90deg);transform-origin:bottom left;color:white;text-decoration:none;z-index:9999;" data-hide-headers="true" data-hide-footer="true" data-width="320" data-height="500" target="_blank"> <span class="icon" style="width:32px;position:relative;text-align:center;transform:rotate(90deg) scale(0.85);left:-8px;"> <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' style="margin-top:10px;"> <path d='M21 0H0V9L10.5743 24V16.5H21C22.6567 16.5 24 15.1567 24 13.5V3C24 1.34325 22.6567 0 21 0ZM7.5 9.75C6.672 9.75 6 9.07875 6 8.25C6 7.42125 6.672 6.75 7.5 6.75C8.328 6.75 9 7.42125 9 8.25C9 9.07875 8.328 9.75 7.5 9.75ZM12.75 9.75C11.922 9.75 11.25 9.07875 11.25 8.25C11.25 7.42125 11.922 6.75 12.75 6.75C13.578 6.75 14.25 7.42125 14.25 8.25C14.25 9.07875 13.578 9.75 12.75 9.75ZM18 9.75C17.172 9.75 16.5 9.07875 16.5 8.25C16.5 7.42125 17.172 6.75 18 6.75C18.828 6.75 19.5 7.42125 19.5 8.25C19.5 9.07875 18.828 9.75 18 9.75Z' fill='white' /> </svg> </span> <span style="text-decoration:none;font-size:18px;font-family:Helvetica,Arial,sans-serif;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"> Get your login </span> </a> </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

  <%= render "home/header" %>


  <div class="flex flex-wrap px-2 lg:px-24 mt-2 lg:mt-8 container m-auto uppercase text-xs font-semibold">
      Popular discussions
  </div>

  


    <div class="container lg:px-24 m-auto p-3 text-grey-darkest">
         <div class="flex flex-wrap -mx-2 mb-8">

            <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6">
              <div class="rounded-full float-right">
                <ul class="list-none p-0 pt-2 profile-tabs">
                  <li class="inline-block mr-2" data-tab="profile_submissions">
                    <%= link_to "Popular", root_path, class: "link font-medium text-black hover:text-gray-900 py-3 text-sm" %>
                  </li>| 
                  <li class="inline-block mr-2">
                    <%= link_to "Newest", newest_path, class: "font-medium text-black hover:text-gray-900 py-3 text-sm" %>
                  </li>
                </ul>
              </div>
              <% if @grouped_posts.present? && @grouped_posts[true].present? %>


              <div class="rounded-tl-lg rounded-tr-lg container m-auto clearfix mb-3">
                <div class="w-full pr-0 mb-6">
                  <h5 class="text-xl font-bold float-left ml-2">Today</h5>
                  <div class="rounded-full float-right">
                    <!--<ul id="nav-tab" class="list-none p-0 pt-2 profile-tabs">
                      <li class="inline-block mr-2 active" data-tab="profile_submissions">
                        <%= link_to "Popular", "#profile_posts", class: "link font-medium text-black hover:text-gray-900 py-3 text-sm" %>
                      </li>| 
                      <li class="inline-block mr-2" data-tab="profile_comments">
                        <%= link_to "Newest", "#profile_comments", class: "link font-medium text-black hover:text-gray-900 py-3 text-sm" %>
                      </li>
                    </ul> -->
                  </div>
                </div>
              </div>

                <div class="bg-white shadow rounded-sm">
                  <% @grouped_posts[true].each do |post| %>
                    <%= render 'posts/post', post: post %>
                  <% end %>
                </div>
              <% end %>

              <% if @post_wise_sorted_alerts.present? %>
                <% @post_wise_sorted_alerts.each do |hash_elements|%>
                  <div class="rounded-tl-lg rounded-tr-lg container m-auto clearfix mb-3 ml-2">
                    <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6">
                      <h5 class="text-xl font-bold float-left"><%= Date::DAYNAMES[hash_elements.first] %> </h5>
                    </div>
                  </div>
                  
                      <div class="bg-white shadow rounded-sm">
                        <% hash_elements.last.reverse_each do |post| %>
                          <%= render 'posts/post', post: post %>
                        <% end %>
                      </div>
                <% end %>
              <% end %>


            </div>
            <div class="w-full md:w-1/3">
                <div class="bg-white shadow rounded-sm">
                  <div class="px-8 pt-6 pb-8">
                    <% unless user_signed_in? %>
                      <%= image_tag "illustration.svg", class: "max-w-full" %>
                      <h3>Explore</h3>
                      <p class="text-gray-600 text-sm">Find your breaking news, sports, celebrity gossip, or never-ending streams of humour.</p>
                      <%= link_to "How BLKroom works", about_path, class: "btn btn-small btn-black my-2 block text-center" %>
                    <% else %>
                      <h3>Home</h3>
                      <p class="text-gray-600 text-sm">Your personal BLKroom frontpage. Come here to check in with your favorite rooms.</p>
                      <%= link_to 'Create Post', new_post_path, class: "btn btn-small btn-white my-2 block text-center"  %>
                      <%= link_to 'Create Community', new_room_path, class: "btn btn-small btn-black my-2 block text-center"  %>
                    <% end %>
                  </div>
                </div>
            </div>
         </div>
    </div>

<% end %>

<%# render "basic_layout" %>

<div class="flex flex-wrap lg:px-24 container m-auto text-center">
  <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6 inline">
      <%#== pagy_nav(@pagy) %> <%= will_paginate %>
  </div>
</div>